<div class="container-fluid">
  <div class="profile">
    <div class="profile_head">
      <span>Профиль</span>
    </div>
    <div class="profile_block">
      <div class="profile_info">
        <div class="row">
          <div class="col-lg-2">
            <img width="200" alt="Profile Avatar" src="/images/avatar.png" class="profile_avatar" />
          </div>
          <div class="col-lg-10" style="padding-right: 0px;">
              <div class="first_info">
                <div class="profile_name">
                  <span>Иванов Иван Иванович</span>
                </div>
                <a [routerLink]='["/edit"]'>
                  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Редактировать профиль
                  </button>
                </a>
                <div class="profile_skills">
                  <span>Перечень читаемых дисциплин</span>
                  <hr class="horizontal_line">
                </div>
                <div class="profile_skills_list">
                  <span>Биология, Химия</span>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <div class="content">
              <div class="head_main">
                <span>Краткая биография (интересные факты)</span>
              </div>
              <hr class="horizontal_line">
              <div class="text_head_main">
                <span>
                  Автор рабочей программы по дисциплине «Биотехнология агроценозов». Под его руководством выполнены и защищены 2 бакалаврских и
                  3 магистерские работы студентов кафедры микробиологии СПб Государственного Университета и кафедры промышленной биотехнологии СПб Технологического Университета.
                  Являлся научным руководителем аспиранта А.В.Щербакова, который защитил диссертацию на соискание научной степени кандидат биологических наук по теме «Эндофитные сообщества
                  сфагновых мхов как источник бактерий - эффективных ассоциантов сельскохозяйствкнных культур». Являлся соруководителем аспиранта Н.В.Мальфановой Российско-Голландского
                  «Центра Превосходства» (Сenter of Excellence) и защитившей в Лейденском Университете (Нидерланды) диссертацию по теме «Endophytic bacteria with plant growth
                  promoting and biocontrol abilities» на соискание научной степени доктора философии по микробиологи (Ph.D.). Является соруководителем международной лаборатории
                  «Постурожайных технологий» Университета ИТМО по теме «Биологические технологии для рационального использования сельскохозяйственных ресурсов и сохранения здоровья человека».
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <div class="content">
              <div class="head_main">
                <span>Тематика самостоятельной научно-исследовательской и творческой деятельности</span>
              </div>
              <hr class="horizontal_line">
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Наименование и реквизиты:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>
                      1. Креативные процессы в стилистике текста (Протокол заседания кафедры русского языка и стилистики № 1 от 2 сентября 2017 г.) <br />
                      2. Активные процессы в современном русском языке в сопоставительном аспекте. Компьютерная лингводидактика преподавания русского языка как родного, неродного и иностранного.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <div class="content">
              <div class="head_main">
                <span>Опыт работы в научных  организациях или в реальном секторе экономики</span>
              </div>
              <hr class="horizontal_line">
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Наименование и реквизиты:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>НИУ "МИЭТ"</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Должность в организации:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>Преподаватель</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Время работы в организации:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>5 лет 5 месяцев</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <div class="content">
              <div class="head_main">
                <span>Информация обо мне в информационных системах института</span>
              </div>
              <hr class="horizontal_line">
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Условия привлечения:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>
                      Штатный сотрудник: заведующий кафедрой
                      <p>По совместительству: преподаватель</p>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Ученая степень:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>Кандидат наук</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Научная специальность:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>Кандидат технических наук</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Ученое звание:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>Профессор</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Ученое звание по кафедре (специальность):</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>Профессор по кафедре</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Уровень образования:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>Диплом о высшем образовании от 14.06.2001. Квалификация: Преподаватель по специальности "Лингвистика и межкультурная коммуникация"</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Стаж работы:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>4 года 2 месяца</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Дополнительное профессиональное образование:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>В области педагогики: Удостоверение о повышении квалификации № 31780007475 от 09.12.2014, "Применение современных образовательных технологий в учебном процессе", 72 часа, ФГБОУ</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Рассмотрение на аттестационной комиссии:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>Установлена высшая квалификационная категория решением заседания Городской Аттестационной комиссии по аттестации педагогических работников с целью установления первой и высшей квалификационных категорий от 30 мая 2017 года.</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Статьи в отечественных научных журналах:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>
                      1.     Ахтемова Г.А., Першина Е.В., Пинаев А.Г., Андронов Е.Е., Штарк О.Ю., Чеботарь В.К., Борисов А.Ю., Тихонович И.А., Кипрушкина Е.И., Абдурашитов С.Ф., Джианиназзи-Пирсон В. Формирование структуры бактериального сообщества в отвалах заводов по переработке сахарной свеклы.Журнал Сахар.№10,с.30-36. (2010).
                      <br />2.     Чеботарь В.К., Петров В.Б., Шапошников А.И., Кравченко Л.В. Биохимические критерии оценки агрономически значимых свойств бацилл, используемых при создании микробиологических препаратов. Сельскохозяйственная биология. №3. С.119-122. (2011).
                      <br />3.     Борисов А.Ю., Штарк О.Ю., Жуков В.А., Неманкин Т.А., Наумкина Т.С., Пинаев А.Г., Ахтемова Г.А., Ворошилова В.А., Овчинникова Е.С., Рычагова Т.С., Цыганов В.Е., Жернаков А.И., Кузнецова Е.В., Гришина О.А., Сулима А.С., Федорина Я.В., Чеботарь В.К., Бисселинг Т., Лемансо Ф., Джианиназзи-Пирсон В., Ратэ П., Санхуан Х., Стоугаард Й., Берг Г., Макфи К., Эллис Н., Тихонович И.А.  Взаимодействие бобовых с полезными почвенными микроорганизмами: от генов растений к сортам. Сельскохозяйственная биология. № 3. С. 41-47. (2011).
                      <br />4.     В.К.Чеботарь, А.В.Щербаков, Е.П.Чижевская, В.Б.Петров. Влияние засоления и тяжелых металлов на ростстимулирующую и антагонистическую активность почвенных бактерий и перспективы использования микроорганизмов для биоремедиации почв (Аналитический обзор). Журнал «Достижения науки и техники АПК». №7, C.28-31. (2011).
                      <br />5.     В.Б.Петров, В.К.Чеботарь. Микробиологические препараты – базовый элемент современных интенсивных агротехнологий растениеводства. Журнал «Достижения науки и техники АПК».2011. №8, C.11-15. (2011).
                      композиционных биопрепаратов с использованием наночастиц биогенных металлов. Журнал «Достижения науки и техники АПК». №12, C.30-34. (2013).
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Статьи в зарубежных научных журналах:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>
                      1.     Malfanova N., Kamilova F., Validov S., Shcherbakov A., Chebotar V., Tikhonovich I., Lugtenberg B. Characterization of Bacillus subtilis HC8, a novel plant-beneficial endophytic strain from giant hogweed. Microbial Biotechnology.V.4. P.523–532. 5 (2011).
                      <br />2.     Egamberdieva D., Kucharova Z., Davranov K., Berg G., Makarova N., Azarova T., Chebotar V., Tikhonovich I., Kamilova F., Validov S. Z., Lugtenberg B.. Bacteria able to control foot and root rot and to promote growth of cucumber in salinated soils. Biol. Fertil. Soils. V.47.P.197–205. (2011).
                      <br />3.     Bragina А., C. Berg, M. Cardinale, A. Shcherbakov, V. Chebotar, G. Berg. Sphagnum mosses harbour highly specific bacterial diversity during their whole lifecycle. , The ISME Journal, P.1–12. (2011).
                      <br />4.     Shcherbakov A. V., Krikovtseva A. V., Kuzmina E. Yu., Berg C., Malfanova N. V., Cardinale M., Berg G., Chebotar V. K.,Tikhonovich I. A. Endophytic and epiphytic bacteria associated with Sphagnum mosses as perspective objects for agricultural biotechnology. // IOBC/WPRS Bulletin. V. 78. P. 165-171. (2012).
                      <br />5.     N. Malfanova, L.Franzil, B.Lugtenberg, V. Chebotar, M.Ongena. Cyclic lipopeptide profile of the plant-beneficial endophyticbacterium Bacillus subtilis HC8. Arch Microbiol. V.194. P. 893-899. (2012).
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Участие в отечественных конференциях:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>
                      1.     Четвертый Московский международный Конгресс, Москва,12-16 марта (2011).
                      <br />2.     Международный Форум «Земля и Урожай»,Санкт-Петербург, 5-8 июня  (2011).
                      <br />3.     Рабочие семинары по проекту ИНТАС (2011).
                      <br />4.     Всероссийская конференция «Ориентированные фундаментальные исследования и их реализация в АПК России», г. Санкт-Петербург, 21-24 апреля. (2011).
                      <br />5.     2-й Международный Форум  «Земля и урожай», г. Санкт-Петербург, 21-23 мая.  (2011).
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="text_head_main_2">
                    <span>Участие в зарубежных конференциях:</span>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="text_head_main">
                    <span>
                      1.     International conference “Biological control of fungal and bacterial plant pathogens”, June 7-10, Graz, Austria (2010).
                      <br />2.     PhD courses  and minisymposium: “Adaptation to Climate Change in the Baltic Sea Region: Contributions from Plant and Microbial Biotechnology”, July 12-17,  Mikkeli, Finland (2010).
                      <br />3.     Европейская  конференция по эндофитам в биотехнологии и сельском хозяйстве 28-30 марта, Реймс, Франция. (2012).
                      <br />4.     Международное совещание «Состояние и перспективы развития семеноводства сельскохозяйственных культур в Казахстане, 29-30 июня, Алматы,Казахстан (2011).
                      <br />5.     Европейская  конференция по эндофитам в биотехнологии и сельском хозяйстве, 14-16 ноября, г.Сан-Мигеле, Италия. (2012).
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
